body,ul,p,li,div,input,button,i{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
